/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn-grey {
	@apply bg-gray-500 text-white;
}

.btn-transparent {
	@apply bg-red-500 border;
}

.btn-img {
	@apply bg-cover bg-center;
}

.btn {
	@apply flex items-center justify-center border-none cursor-pointer w-10 h-10;
} */
